{% extends 'base.html' %}

{% block content %}

<br>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
        </div>
        <div class="col-md-8">
            <h2 class="text-center">借阅历史</h2>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>书籍ID</th>
                        <th>书名</th>
                        <th>借阅时间</th>
                        <th>是否归还</th>
                    </tr>
                </thead>
                <tbody>
                    {% for borrow in borrows %}
                    <tr>
                        <td>{{ borrow.book_id }}</td>
                        <td>{{ borrow.title }}</td>
                        <td>{{ borrow.date }}</td>
                        <td>
                            {% if borrow.is_return %}
                            <span class="badge badge-success">已归还</span>
                            {% else %}
                            <span class="badge badge-danger">未归还</span>
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-md-2"></div>
	</div>
</div>

{% endblock %}