{% extends 'base.html' %}

{% block content %}
<br>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
        </div>
        <div class="col-md-8">
            {% if current_user.is_authenticated and user_type=='admin' %}
            <h2 class="text-center">职工信息</h2> 
			<table class="table">
                <thead>
                    <tr>
                        <th>ID</th>
						<th>姓名</th>
						<th>年龄</th>
						<th>身份证号</th>
						<th>电话号码</th>
						<th>住址</th>
						<th>账号</th>
					</tr>
				</thead>
				<tbody>
                    {% for staff in staffs %}
					<tr class="table-active">
                        <td>{{ staff.staff_id }}</td>
						<td>{{ staff.name }}</td>
						<td>{{ staff.age }}</td>
						<td>{{ staff.id_card }}</td>
						<td>{{ staff.phone_number }}</td>
						<td>{{ staff.address }}</td>
						<td>{{ staff.account }}</td>
					</tr>
                    {% endfor %}
				</tbody>
			</table>
            <a class="btn btn-success btn-md btn-block">新增员工</a>
            {% else %}
            <h2 class="text-center">书籍信息</h2>
            <form class="form-inline" action="/" method="post" style="display: flex; justify-content: space-between; width: 100%;">
                <div class="form-group">
                    <label>查询类型</label>
                    <select class="'form-select" name="search_type"  style="width: 100%;">
                        <option selected>请选择查询类型</option>
                        <option value="id">书籍ID</option>
                        <option value="title">书名</option>
                        <option value="author">作者</option>
                        <option value="ISBN">ISBN</option>
                        <option value="publisher">出版社</option>
                    </select>
                </div>
                &nbsp;
                <div class="form-group" style="flex: 1;">
                    <label>查询内容</label>
                    <input class="form" name="search_text" style="width: 100%;" />
                </div>
                &nbsp;
                <button type="submit" class="btn btn-primary">查询</button>
            </form>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>书名</th>
                        <th>作者</th>
                        <th>ISBN</th>
                        <th>出版社</th>
                        <th>状态</th>
                    </tr>
                </thead>
                <tbody>
                    {% for book in books %}
                    <tr class="table-active">
                        <td>{{ book.book_id }}</td>
                        <td>{{ book.title }}</td>
                        <td>{{ book.author }}</td>
                        <td>{{ book.ISBN }}</td>
                        <td>{{ book.publisher_name }}</td>
                        {% if book.state %}
                        <td>可借阅</td>
                        {% else %}
                        <td>不可借阅</td>
                        {% endif %}
                        <td>
                            <a class="btn btn-sm btn-outline-info" href="{{ url_for('book_detail', book_id=book.book_id) }}">
                                详情
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% endif %}
        </div>
        <div class="col-md-2"></div>
	</div>
</div>

{% endblock %}
