{% extends 'base.html' %}

{% block content %}
<br>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
        </div>
        <div class="col-md-8">
            <h2 class="text-center">出库信息</h2> 
            <a class="btn btn-success btn-md" href="{{ url_for('book_out_add') }}" style="float: right;">新增出库信息</a>
            <br><br>
			<table class="table table-striped">
                <thead>
                    <tr>
						<th>书籍ID</th>
						<th>职工ID</th>
						<th>时间</th>
						<th>原因</th>
					</tr>
				</thead>
				<tbody>
                    {% for out in outs %}
					<tr>
						<td>{{ out.book_id }}</td>
						<td>{{ out.staff_id }}</td>
						<td>{{ out.date }}</td>
						<td>{{ out.reason }}</td>
					</tr>
                    {% endfor %}
				</tbody>
			</table>
        </div>
        <div class="col-md-2"></div>
	</div>
</div>

{% endblock %}
